functionsDirectory = "/Users/aungmyatthu/Desktop/ml-express/netlify/functions"
functionsDirectoryOrigin = "config"
headersOrigin = "config"
redirectsOrigin = "config"
plugins = []

[build]
publish = "/Users/aungmyatthu/Desktop/ml-express/build"
publishOrigin = "config"
commandOrigin = "config"
command = "npm install --legacy-peer-deps && CI=false npm run build"
functions = "/Users/aungmyatthu/Desktop/ml-express/netlify/functions"

[build.environment]
NODE_VERSION = "18"
SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"

[build.processing]
skip_processing = false

[build.processing.css]
bundle = true
minify = true

[build.processing.html]
pretty_urls = true

[build.processing.images]

[build.processing.js]
bundle = true
minify = true

[build.processing.skip]
paths = ["*.md", "*.html", "test-*", "diagnose-*"]

[build.services]

[functions]

[functions."*"]

[[headers]]
for = "/*"

[headers.values]
Content-Security-Policy = "default-src 'self' https: data: blob: 'unsafe-inline' 'unsafe-eval'; connect-src 'self' https: wss:; media-src 'self' https: data: blob: https://assets.mixkit.co; img-src 'self' data: https: blob:; font-src 'self' https: data:; frame-src 'self' https:; worker-src 'self' blob:;"
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]