functionsDirectory = "/Users/aungmyatthu/Desktop/ml-express/netlify/functions"
functionsDirectoryOrigin = "config"
redirectsOrigin = "config"
plugins = []
headers = []

[build]
publish = "/Users/aungmyatthu/Desktop/ml-express/build"
publishOrigin = "config"
commandOrigin = "config"
command = "npm install && npm run build"
functions = "/Users/aungmyatthu/Desktop/ml-express/netlify/functions"

[build.environment]
NODE_VERSION = "18"
SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"

[build.processing]
skip_processing = false

[build.processing.css]
bundle = true
minify = true

[build.processing.html]
pretty_urls = true

[build.processing.images]

[build.processing.js]
bundle = true
minify = true

[build.processing.skip]
paths = ["*.md", "*.html", "test-*", "diagnose-*"]

[build.services]

[functions]

[functions."*"]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]