node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.keystore
!android/app/debug.keystore
!android/app/release.keystore
!android/app/upload-release.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.log
.env
.env.local
.env.*.local

# Netlify
.netlify

