body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

select {
  background-color: rgba(7, 23, 53, 0.65) !important;
  color: inherit;
  border: none;
}

select:focus {
  background-color: rgba(7, 23, 53, 0.75) !important;
  outline: none;
}

option {
  background-color: rgba(7, 23, 53, 0.9) !important;
  color: inherit;
}
